@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://db.onlinewebfonts.com/c/77d394fa0c1103c648f880b77cb4a32f?family=Futura+LT+W01+Medium');
@import url('https://db.onlinewebfonts.com/c/9a7e574c3eda05d71d03345d3f9e268e?family=Futura+LT+W01+Light+Oblique');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Futura LT Book';
    src: url('/fonts/FuturaLT-Book.ttf') format('truetype');
    font-weight: 300;
    /* Light weight */
    font-style: normal;
}
@font-face {
    font-family: 'Futura LT Light';
    src: url('/fonts/FuturaLT-Light.ttf') format('truetype');
    font-weight: 700;
    /* Light weight */
    font-style: normal;
}
@font-face {
    font-family: 'Reklame Script Medium';
    src: url('/fonts/Reklame Script Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}